@import "base";

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.site {
  padding-top: 60px;
  padding-bottom: 60px;
  @include box-sizing(border-box);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  padding: 10px 0;
}